<!DOCTYPE html>
<html lang="en-US" ng-app="messageBoardApp">

<head>
    <meta charset="utf-8">
    <script src="static/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="static/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="static/bootstrap.min.js"></script>
    <script src="static/angular-filter.min.js"></script>
    <script src="static/app.js"></script>
    <title> Maldives Monetary Authority </title>
</head>

<body>
    <br>
    <div class="container">
        <!--This runs the angular module named messageboardApp inthe div, and makes it a bootstrap container -->
        <h1><a href="/">Messageboard</a></h1>
            <form action="/" method="POST" ng-controller="PostController">
                <label for="comment">Log Message:</label>
                <input class="form-control" rows="5" id="comment" name="messagebox" ng-model="message"></input>
                <br>
                <input type="submit" value="Submit message" ng-click="postdata()">
            </form>
            <form action="/" method="GET">
                <div align="right">
                <label for="date">Search logs by date:</label>
                <input type="text" id="date" placeholder="yyyy-mm-dd" ng-model="datevalue">
                <button type="button" id="searchbutton">Search</button>
                </div>
            </form>  <!--Listing all messages -->
        <div class="container" ng-controller="ShowController" ng-model="items">
        <ul ng-repeat="(key, value) in items | filter : datevalue | groupBy: 'date' ">  <!--filters by ng-model named datevalue-->
            <b><h3>{{key}}</h3></b>
            <hr>
            <li ng-repeat="item in value">
            {{item.username}} ; {{item.time}} - <b>{{item.message}}</b>
            </li>
        </ul>
        </div>
    </body>
</html>